#mainText div {
    display: inline-block;
    position: relative;
    top: 0.35em;
}

.icon {
    display: flex;
    list-style: none;
}

.icon-list {
    display: flex;
    padding-left: 19px;
    list-style-type: none;
    text-align: left;
}

.icon-text {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    padding: 0 0.8em 0 0;
    line-height: 1.5;
    color: #34495e;
}